@{
    ViewData["Title"] = "Wyniki";
}

    <div class="nav-wrapper container grey">
      <h1 class="header center text-black">Wyniki</h1>
    </div>

        <div class="container">
        <div class="section">
            <div class="row grey">

                <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/F1.jpg">
                      <span class="card-title"><strong>F1</strong></span>
                    </div>
                    <div class="card-content">
                      <p>
                            Królowa Motorsportu.
                            <br/>
                            Zapraszamy do wyników...
                      </p>
                    </div>
                    <div class="card-action">
                       <a>@Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiPoprawne","Home")</a>
                    </div>
                  </div>
                </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/F2.jpg">
                      <span class="card-title"><strong>F2</strong> </span>
                    </div>
                    <div class="card-content">
                      <p>
                         Zapraszamy do zapoznania się z serią juniorską F2...
                      </p>
                    </div>
                    <div class="card-action">
                         <a> @Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiF2","Home")</a>
                    </div>
                  </div>
              </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/Formula E.jpg">
                      <span class="card-title"><strong>Formuła E</strong></span>
                    </div>
                    <div class="card-content">
                      <p>
                          Najnowsze wieści z świata elektrycznych bolidów...
                      </p>
                    </div>
                    <div class="card-action">
                      <a> @Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiFormulaE","Home")</a>
                    </div>
                  </div>
              </div>

            </div>
        </div>
    </div>

            <div class="container">
        <div class="section">
            <div class="row grey">

                <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/Indycar.jpg">
                      <span class="card-title"><strong>IndyCar</strong></span>
                    </div>
                    <div class="card-content">
                      <p>
                          Wybieramy się za ocean do USA. zobaczcie wyniki
                      </p>
                    </div>
                    <div class="card-action">
                      <a> @Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiIndyCar","Home")</a>
                    </div>
                  </div>
                </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/LMP2.jpg">
                      <span class="card-title"><strong>Endurance</strong> </span>
                    </div>
                    <div class="card-content">
                      <p>
                         Wyniki z serii wyścigów długodystanwosych
                      </p>
                    </div>
                    <div class="card-action">
                      <a> @Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiDTM","Home")</a>
                    </div>
                  </div>
              </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/DTM.jpg">
                      <span class="card-title"><strong>DTM</strong></span>
                    </div>
                    <div class="card-content">
                      <p>Najnowsze wyniki z serii DTM</p>
                    </div>
                    <div class="card-action">
                     <a> @Html.ActionLink("Zapraszamy do zapoznania się z wynikami","WynikiDTM","Home")</a>
                    </div>
                  </div>
              </div>

            </div>
        </div>
    </div>