@model IEnumerable<Sklep.Data.Data.Tablica.Ogloszenia>

@{
    ViewData["Title"] = "Index";
}



<h1>Ogłoszenia</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj ogłoszenie </a>
</p>


<div class="card mb-4">
       <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Nasze aktualne propozycje dla klientów
      </div>

      <table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRodzaju)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promocja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRodzaju)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocja)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdOgloszenia">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdOgloszenia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</div>




